<div class="mb-3">
  <!-- Eliminando la línea problemática -->
  <!-- <app-alumnos-form (alumnoSubmitted)="['onAlumnoSubmitted']($event)"></app-alumnos-form> -->
</div>

<pre>{{ roles | json }}</pre>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let alumno">{{ alumno.id }}</td>
  </ng-container>

  <!-- FullName Column -->
  <ng-container matColumnDef="fullName">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>Nombre completo</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let alumno">
      {{ alumno.firstName + " " + alumno.lastName }}
    </td>
  </ng-container>

  <!-- LastName Column -->
  <ng-container matColumnDef="lastName">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>Apellido</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let alumno">
      {{ alumno.lastName }}
    </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>Correo</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let alumno">
      {{ alumno.email }}
    </td>
  </ng-container>

  <!-- Password Column -->
  <ng-container matColumnDef="password">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>Contraseña</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let alumno">
      {{ alumno.password }}
    </td>
  </ng-container>

  <!-- Role Column -->
  <ng-container matColumnDef="role">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>Rol</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let alumno">
      <button [routerLink]="alumno.id" color="accent" mat-icon-button>
        <mat-icon>visibility</mat-icon>
      </button>
      <button (click)="onDeleteAlumno(alumno)" mat-icon-button color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator (page)="onPage($event)" [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page">
</mat-paginator>