<div class="mb-3">
  
</div>

<pre>{{ roles | json }}</pre>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let alumno">{{ alumno.id }}</td>
  </ng-container>

 
  <ng-container matColumnDef="firstName">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>Nombre completo</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let alumno">
      {{ alumno.firstName + " " + alumno.lastName }}
    </td>
  </ng-container>

 
  <ng-container matColumnDef="lastname">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>Apellido</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let alumno">
      {{ alumno.lastname }}
    </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>Correo</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let alumno">
      {{ alumno.email }}
    </td>
  </ng-container>

  <!-- Password Column -->
  <ng-container matColumnDef="password">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>Contraseña</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let alumno">
      {{ alumno.password }}
    </td>
  </ng-container>

  <!-- Role Column -->
  <ng-container matColumnDef="role">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>Rol</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let alumno">
      <button [routerLink]="alumno.id" color="accent" mat-icon-button>
        <mat-icon>visibility</mat-icon>
      </button>
      
      
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<form (ngSubmit)="onSubmitAlumno(form.value)" #form= "ngForm">
  <input type="text" name="firstName" ngModel placeholder="Nombre">
  <input type="text" name="lastName" ngModel placeholder="Apellido">
  <input type="email" name="email" ngModel placeholder="Correo electrónico">
  <input type="password" name="password" ngModel placeholder="Contraseña">
  <!-- Otros campos del formulario según tus necesidades -->
  <button type="submit">Guardar</button>
</form>

<mat-paginator (page)="onPage($event)" [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page">
</mat-paginator>