<h1>cursos</h1>

<table mat-table [dataSource]="Cursos" class="table">
    
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    
       

    <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
    </ng-container>

    <ng-container matColumnDef="createAt">
        <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
        <td mat-cell *matCellDef="let element"> {{element.createAt}} </td>
   </ng-container>
   
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element"> {{element.actions}} </td>
    </ng-container>
    
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
